:root{
   --main-font: 'Roboto', sans-serif;
}


body{
   font-family: var(--main-font);
   font-weight: 200;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    height: 100%;
    /* background-color: #333; */
    padding: 5rem;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10% !important;
}

.carousel-indicators {
    top: 0;
    bottom: initial !important;
}

.carousel-indicators li {
    width: initial !important;
    height: initial !important;
    text-indent: initial !important;
    padding: 1rem;
    cursor: pointer;
}

.carousel-indicators li:hover {
    background-color: #ccc;
}

h1 {
    text-align: center;
    color: inherit;
}

.climate-tab-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.climate-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2rem 0;
}
.climate-wrapper div p{
   text-align: center;
}

#historical-wrapper{
   width: 100%;
   display: flex;
    align-items: center;
    flex-direction: column;
}
#historical-wrapper form{
   display: inline-block;
}
#historical-wrapper form input{
   padding: 10px;
   border: 0;
   color: #aaa;
   font-family: var(--main-font);
   font-weight: 200;
   text-transform: uppercase;

}
#historical_temp_chart_div{
   width: 100%;
}

h2 {
    text-align: center;
    color: #fff !important;
}
