.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    height: 100vh;
    /* background-color: #333; */
    padding: 5rem;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10% !important;
}

.carousel-indicators {
    top: 0;
    bottom: initial !important;
}

.carousel-indicators li {
    width: initial !important;
    height: initial !important;
    text-indent: initial !important;
    padding: 1rem;
    cursor: pointer;
}

.carousel-indicators li:hover {
    background-color: #ccc;
}

h1 {
    text-align: center;
    color: inherit;
}

.inner-table{
    display: table;
    margin: auto;
    padding: 2em 4em 2em 4em;
}

.inner-row{
    display: table-row;
}

.inner-cell{
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

